@import url('/src/common.scss');

.cart{
    thead{
        white-space: nowrap;
    }

    td{
        line-height: 100px;
        &:nth-child(2){
            line-height: normal;
        }
    }

    .item_info{
        display: flex;
        align-items: center;
    
        p>img{
            width: 100px;
            margin-right: 20px;
        }
    }

    .item_quant{
        >div{
            margin-top: 25px;
            height: 50px;
            display: flex;
            align-items: center;
            input[type="number"]{
                width: 3rem;
                height: 2rem;
                margin-right: 10px;
    
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }//input

            p{
                line-height: 25px;
            }
        
        
        }

    }//item_quant
}//cart

