@import url('/src/common.scss');



.home_js{
    .category{
        font-size: 2.5rem;
        margin: 50px 0 30px;
    }

    .carousel-inner{
        >div{transition: .5s;}
    }
}

.product_js{
    &.container{padding: 80px 10px 0 10px}
    h1{font-size: 2.5rem; margin-bottom: 30px;}

    .btn-group{
        width: 100%;
        margin: 0 auto 30px;
    
        .btn{
            border-radius: 0;
            border: solid #7D5A5A;
            border-width: 1px 0 1px 1px;
            background-color: #fff;
            color: #7D5A5A;        
            
            &.on{
                background-color: #7D5A5A;
                color: #fff;
            }
        }    
        a:first-child .btn{border-radius: 10px 0 0 10px;}
        a:last-child .btn{border-radius:  0 10px 10px 0; border-right-width: 1px;}
    }//btn_group
}

.cart_js{
    padding: 0 10px;
    min-height: 70vh;

    .cart_banner{
        margin: 80px 0 15px;
        font-size: 2.5rem;
        span{font-size: 1.5rem; margin-left: 10px; color: #555;}
    }

    thead{
        white-space: nowrap;
    }

    td{
        line-height: 100px;
        &:nth-child(1){
            min-width: 50px;
        }
        &:nth-child(2){
            line-height: normal;
        }
        &:nth-child(3){
            width: 6rem;
        }
        &:nth-child(4){
            width: 3rem;
        }
        &:nth-child(5){
            min-width: 6rem;
        }
        &:nth-child(6){
            width: 2rem;
            font-size: 1.5rem;
        }
    }

    .item_info{
        display: flex;
        align-items: center;
    
        p>img{
            width: 100px;
            margin-right: 20px;
        }
    }

    .item_quant{
        >div{
            margin-top: 25px;
            height: 50px;
            display: flex;
            align-items: center;
            input[type="number"]{
                width: 3rem;
                height: 2rem;
                margin-right: 10px;
    
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }//input

            button{
                line-height: 25px;
                cursor: pointer;
            }      
        }
    }//item_quant

    tr.no_product{
        td{line-height: 100px;}
    }

    tr.total{
        td{line-height: 50px;}
        td.total_text{text-align: right; font-weight: bold;}
    }
}//cart


.detail_js{
    
    .origin_price{text-decoration: line-through; color: #F1D1D1; margin-bottom: -5px;}
    .sale_price{font-size: 1.8rem; font-weight: bold; }

    .info_top{
        padding-top: 30px;
        margin-bottom: 60px;
        justify-content: center;
        >div{
            box-sizing: border-box;
            padding: 0 40px;
            
            margin-bottom: 30px;
        }

        .name{
            h1{font-size: 1.75rem; margin-bottom: 3px;}
            p{margin-bottom: 10px; color: #aaa;}

        }        

        .price{margin-bottom: 30px;}

        .buy_action{
            p.btn_title{
                font-size: 0.875rem;
                margin-left: 10px;
            }
        
            .quant{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;

                input[type="number"]{
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;}
        
                        width: 60px;
                        text-align: center;
        
                        box-sizing: border-box;
                        border: none;
        
                        border-width: 1px 0;
                        border-color: #aaa;
                        border-style: solid;
                        padding: 0 10px;
                }//number

                .btn_cover{display: flex;}
            }//quant

            .item_total{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                margin-bottom: 30px;
                >div{
                    display: flex;
                    align-items: center;

                    .total_price{
                        font-size: 1.5rem;
                        font-weight: bold;
                        margin-right: 10px;
                    }
                }
            }//subtotal

            .add_btn{
                display: flex;
                justify-content: center;

                button.btn{
                    box-sizing: border-box;
                    padding: 0 20px;
                    height: 40px;
                    white-space: nowrap;

                    color: #333; border-color: #333;
                    background-color: #fff;

                    margin-right: 10px;
                    &:last-child{margin-right: 0;}

                    &:hover{background-color: #eee;}
                }
            }//add_btn
        }
    }//info_top

    

    .info_bottom{
        .col_tit{
            font-size: 1.2rem; font-weight: bold;
        }
        .li_tit{
            font-weight: bold;
        }
        ul.info_bar{
            display: flex;
            justify-content: center;
            border: solid #333;
            background-color: #fff;
            border-width: 1px 0;
            position: sticky;
            top: 0;
            margin-bottom: 30px;
            
            li{
                padding: 10px 15px;
                font-size: 0.875rem;
                cursor: pointer;
                color: #aaa;
    
                &::before{
                    content: "·";
                    margin-right: 5px;
                }
    
                &.on{
                    color: #333;
                    font-weight: bold;
                }
            }
        }//info_bar

        >div{
            padding: 40px 0;
        }
        
        .item_detail{
            padding-top: 0;
            img{width: 80%; margin: 0 auto;}
        }

        .question{
            >p{cursor: pointer;}
            span{padding-left: 30px;}
            span:first-child{
                padding-left: 0;
                &::before{
                content: "Q.";
                padding: 0 10px;}
            }
        }
            
        .now_review, .question{
            width: 100%;
            display: flex;
            padding: 30px 0;
            border-bottom: 1px solid #aaa;
            

            p:nth-child(1){box-sizing: border-box; padding-right: 10px;}
            p:nth-child(2){display: inline-block; cursor: pointer; white-space: nowrap; margin-left: auto;}                
        }

        .review_writing, .qna_writing{
            margin-top: 20px;
            h6{font-weight: bold;}

            >div{
                display: flex;
                align-items: end;

                textarea{
                    width: calc(100% - 100px); margin-right: 20px;
                    min-height: 100px; max-height: 500px;
                }
                button{flex-shrink: 0; width: 80px; height: 50px; background-color:#7D5A5A; border: none;}
            }
        }

        .answer{
            padding: 30px 40px;
            background-color: #eee;
            display: none;

            h6{font-weight: bold;}

            >div{
                display: flex;
                align-items: end;

                textarea{
                    width: calc(100% - 140px);
                    min-height: 100px; max-height: 500px;
                    margin-right: 20px;
                    box-sizing: border-box;
                }
                button{flex-shrink: 0; width: 60px; height: 40px; border:1px solid #7D5A5A; background-color: #fff; color: #7D5A5A;}
            }

            .answered{
                span{padding-left: 30px;}
                span:first-child{
                    padding-left: 0;
                    &::before{
                    content: "A.";
                    padding: 0 10px;}
                }
            }

            .answer_close{
                margin-top: 30px;
                cursor: pointer;
            }
        }



        .relative{
            .relate_list{
                display: flex;
                padding: 0;
                >a{
                    display: none;
                    width: 25%;
                    padding: 0 10px;

                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4){
                        display: block;
                    }

                    &:nth-child(4){margin-right: 0;}
                    .relate_tit{
                        font-weight: bold;
                    }
                    .sale_price{font-size: 1.25rem;}
                
                }
            }
        }
    }

}//detail



.about_img{
    max-width: 1180px;
    margin: 0 auto;
}
.about{
    max-width: 980px;
    padding-top: 50px;
    h1{font-size: 1.75rem;}

    >div{margin-bottom: 40px;
    
        .row{
            justify-content: center;
            &>div{
            font-weight: 300;
            padding: 0 20px;
            word-break: keep-all;

            &:nth-child(2){color: #aaa; font-family: "SUIT-Regular";}

            p{margin-bottom: 20px;}

        }}
    }
}

.event{
    h1{
        font-size: 2.5rem;
        margin: 50px 0 30px;
    }
    >.container{padding: 0; }
    .row{
        flex-wrap: wrap;
        >div{
            overflow: hidden;
            margin-bottom: 20px;

            img{
                transition: .3s ease-in-out;
                &:hover{opacity: 0.6;}
            }
        }
    }
}


.footer{
    font-size: 0.75rem;
    margin-top: 60px;
    padding: 30px 0;
    line-height: 25px;
    background-color: #eee;

    .container{padding: 0 10px;}
    
    ul{
        display: flex; margin-bottom: 20px;
        li{color: #777; padding: 0 10px;}
    }

    p{color: #777;}
    
}