.container{
    width: 100%;
    margin: 0 auto; padding: 0;
}

.category{
    font-size: 40px;
    font-weight: bold;
    margin: 50px 0 30px;
}

.btn-group{
    width: 100%;
    margin: 0 auto 30px;

    .btn{
        border-radius: 0;
        border: solid #7D5A5A;
        border-width: 1px 0 1px 1px;
        background-color: #fff;
        color: #7D5A5A;        
        
        &.on{
            background-color: #7D5A5A;
            color: #fff;
        }
    }    
    a:first-child .btn{border-radius: 10px 0 0 10px;}
    a:last-child .btn{border-radius:  0 10px 10px 0; border-right-width: 1px;}
}//btn_group