@import '../common.scss';


.carousel.slide{
    width: 100%;
    max-width: 1280px; 
    margin: 0 auto;
}



.list_js {
    

    img {
        width: 100%;
    }

    .col {
        margin-bottom: 20px;
    }

    .card {
        overflow: hidden;

        &:hover{
            .card-title{color: #7D5A5A;}
            img{transform: scale(1.1);}
        }

        .card-title {
            transition: 0.3s ease-in-out;
            height: 3rem;
            word-break: keep-all;
            font-weight: bold;

            overflow: hidden;
        }

        .img_cover{overflow: hidden;
           img{transition: 0.3s ease-in-out;}}

        .info {
            padding: 5px;
        }

        .origin_price {
            font-size: 0.8rem;
            color: #F1D1D1;
            text-decoration: line-through;
        }

        .sale_price {
            font-size: 1.2rem;
            font-weight: bold;
        }

        .button_list {
            display: flex;
            justify-content: end;

            button {
                background: none;
                border: none;
                color: #333;
                font-size: 1.8rem;
                padding: 0 10px;

                svg {
                    transition: .1s;
                }

                &:hover svg {
                    transform: scale(1.15);
                }

                &:active {
                    background-color: inherit;
                    color: inherit;
                }


            }
        }

        //button_list
    }
}