@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{font-family: 'Noto Sans KR', sans-serif; color: #333;}

.container{
  width: 100%;
  max-width: 1200px;
  padding: 0px;
}

nav{
  background-color: #F3E1E1;

  .container{
    padding: 0 10px;
  }
}