*, p{margin: 0; padding: 0; }
html, button{font-family: 'Noto Sans KR';color: #333;}

li, ul, ol, a{list-style: none; color: inherit; text-decoration: none;}
h1, h2, h3, h4, h5, h6{font-weight: normal; font-size: inherit;}
.img{position: relative;}
a{display: block;}
img{display: block; width: 100%; height: auto;}
button{background: none; border: none; display: block;}
$mainC: #0E0057;